.card
	%div
		= text_area_tag(:question_back, @card.front, disabled: true)
		= text_area_tag(:answer, @card.back, disabled: true)

.card
	%p.bold Your answer:
	= form_tag(topic_card_answer_path, method: 'post') do
		= text_area_tag(:u_answer, (@u_answer != "") ? @u_answer : "No answer", disabled: true)
		.answer
			= submit_tag("Correct", id: "check")
		.answer
			= submit_tag("Incorrect", id: "wrong")
