.cards
	.col-sm-6
		.card-container
			.side
				= text_area_tag(:back, @card.back, disabled: true)

	.col-sm-4
		.answer
			%p.bold= t('.your_answer')
			= form_tag(topic_card_answer_path, method: 'post') do
				= text_area_tag(:u_answer, (@u_answer != "") ? @u_answer : t(".no_answer"), disabled: true, class: 'form-control')
				= text_field_tag(:difference, @difference, style: 'display:none')

				.result 
					= submit_tag(t(".correct"), id: "check", class: 'btn')
					= submit_tag(t(".incorrect"), id: "wrong", class: 'btn')
