.card
	= text_area_tag(:question_front, @card.front, disabled: true)

.card
	= form_tag(topic_card_back_path, method: 'get') do
		= label_tag(:u_answer, "Your answer", class: "bold")
		= text_area_tag(:u_answer)
		= submit_tag('Flip')