
.col-sm-9
	%h2 
		= t('.topics_review')
		= @date.to_date
	- if not @study_topics.empty?
		- @study_topics.each do |st|
			.study_topic
				- if st[:topic].subject
					- subject_config = st[:topic].subject.subject_configs.find_by(user_id: current_user.id)
					%span.label{style: "background-color:#{subject_config.color}; color: #fff" }= st[:topic].subject.code
				- if @date.to_date == Date.today
					= link_to "#{st[:topic].title}", topic_review_path(st[:topic].id)
				- else
					= st[:topic].title
				%span.shaded= "#{t('.n_cards')} #{st[:cards_count]} /"
				%span.shaded= "#{t('.review_time')} #{st[:approx_time]} min"
	- else
		.placeholder
			%p= t('.placeholder')

.col-sm-3
	.week-menu
		%ul
			%p= t('.week_review')
			%li{:class => @date == Date.today && "active"}= link_to Date.today.to_s, study_calendar_path(date: Date.today)
			%li{:class => @date == Date.today+1 && "active"}= link_to (Date.today+1).to_s, study_calendar_path(date: Date.today+1)
			%li{:class => @date == Date.today+2 && "active"}= link_to (Date.today+2).to_s, study_calendar_path(date: Date.today+2)
			%li{:class => @date == Date.today+3 && "active"}= link_to (Date.today+3).to_s, study_calendar_path(date: Date.today+3)
			%li{:class => @date == Date.today+4 && "active"}= link_to (Date.today+4).to_s, study_calendar_path(date: Date.today+4)
			%li{:class => @date == Date.today+5 && "active"}= link_to (Date.today+5).to_s, study_calendar_path(date: Date.today+5)
			%li{:class => @date == Date.today+6 && "active"}= link_to (Date.today+6).to_s, study_calendar_path(date: Date.today+6)