#main-options
	= link_to 'Today\'s study', todays_study_path
	= link_to 'Week\'s study', weeks_study_path
	= link_to 'Subjects', subjects_path
	= link_to 'Topics', topics_path
	= link_to 'Notifications', share_request_notify_path
	= link_to 'Logout', logout_path
      