= form_for @topic do |f|
  - if @errors
    #error_explanation
      %h2= "#{pluralize(@errors.count, "error")} prohibited this topic from being saved:"
      %ul
        - @errors.each do |msg|
          %li= msg

  .form-horizontal
    .form-group
      .field
        = f.label :title, class: 'control-label col-sm-3'
        .col-sm-6
          = f.text_field :title, class: 'form-control'
    .form-group
      .field
        = f.label :subject_id, class: 'control-label col-sm-3'
        .col-sm-6
          %select{name: :subject_id, id: :subject_id, class: 'form-control'}
            - if @subject
              %option{value: "#{@subject._id}"}= @subject.code
            %option{value: "none"} None
            - @subjects.each do |subject|
              %option{value: "#{subject._id}"}= subject.code
    .form-group
      .col-sm-offset-3.col-sm-6
        .actions
          -if @back
            = link_to 'Back', @back, class: 'btn btn-default'
          - else
            = link_to 'Back', @topic, class: 'btn btn-default'
          - if @url == new_topic_path
            = f.submit 'Create', class: 'btn btn-default'
          - else
            = f.submit 'Save', class: 'btn btn-default'
