= form_for @topic do |f|
  - if @errors
    #error_explanation
      %h2= "#{pluralize(@errors.count, "error")} prohibited this topic from being saved:"
      %ul
        - @errors.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :subject_id
    %select{name: :subject_id, id: :subject_id}
      - if @subject
        %option{value: "#{@subject._id}"}= @subject.code
      %option{value: "none"} None
      - @subjects.each do |subject|
        %option{value: "#{subject._id}"}= subject.code
  .actions
    -if @back
      = link_to 'Back', @back
    - else
      = link_to 'Back', @topic
    - if @url == new_topic_path
      = f.submit 'Create'
    - else
      = f.submit 'Save'
