.st_row
  %li
    -if topic.subject
      - subject_config = topic.subject.subject_configs.find_by(user_id: current_user.id)
    .col-sm-7
      - if subject_config
        - color = topic.subject.subject_configs.find_by(user_id: current_user.id).color
      %span.label{style: if subject_config then "background-color:#{color}" else "background-color:#aaa" end}
        - if topic.subject
          = topic.subject.code
        - else
          NONE
      - topic_config = topic.topic_configs.find_by(user_id: current_user.id)
      %span#link{class: topic_config.archived && "archived"}
        = link_to topic.title, topic
    .col-sm-4.options
      - topic_config.reviewing ? text = 'Reviewing' : text = "Review"
      = link_to text, topic_set_reviewing_path(topic), method: :patch, class: "btn btn-default #{text.downcase}", id: 'review', remote: true
      = link_to 'Delete', topic_path(topic), :class => 'btn btn-default delete-link', method: :delete, data: {confirm: "Are you sure?"}, style: 'display:none'
      %a.btn.btn-default.destroy-action{href:'javascript:void(0)'} Delete
