%p#notice= notice

= form_tag("/topics/", method: "get", id: "in-filter") do
  %select{name: 'subject'}
    %option{value: 'all'} All
    - @subjects.each do |subject|
      %option{value: "#{subject.code}"}= subject.code
    %option{value: 'none'} None
  = submit_tag('Search')

#topics-list
  %ul
    = render @topics
