	
.info
	%h4
		Info
	- if @topic.subject
		%p
			Subject:
			= link_to @topic.subject.name, @topic.subject
	%p= "# of cards: #{Integer(@topic.cards.count)}"

- if @exist_cards_to_study
	= link_to 'Study', topic_review_path(@topic), class: 'btn btn-default', id: 'study'

.cards
	= render @topic.cards