%p#notice= notice

%h3 Review boxes

.boxes
  -if @box_has_cards[0]
    .box-cards
      = link_to '', topic_prepare_review_path(@topic._id, b: 1), :class => 'btn'
  - else
    .box
  -if @box_has_cards[1]
    .box-cards
      = link_to '', topic_prepare_review_path(@topic._id, b: 2), :class => 'btn'
  - else
    .box
  -if @box_has_cards[2]
    .box-cards
      = link_to '', topic_prepare_review_path(@topic._id, b: 3), :class => 'btn'
  - else
    .box
.boxes-numbers
  %span 1
  %span 2
  %span 3

.settings
  = form_tag("/topics/#{@topic._id}/reset_cards", method: "patch") do
    = submit_tag('', id: 'reset')
    %span#reset-number 1
  = form_tag("/topics/#{@topic._id}/set_reviewing", method: "patch") do
    - if @topic.reviewing
      = submit_tag('', id: 'reviewing')
    - else
      = submit_tag('', id: 'not-reviewing')