%p#notice= notice

.title
  %h1= @topic.title
  %span= link_to 'Edit topic', edit_topic_path(@topic)
  %span= link_to 'New Card', topic_new_card_path(@topic)
  %span= link_to 'Back', topics_path
  %span= link_to 'Destroy', @topic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%h3 Review boxes

%ul
  %li= link_to 'Box 1', topic_review_box_path(@topic._id, n: 1, reset: 'y')
  %li= link_to 'Box 2', topic_review_box_path(@topic._id, n: 2, reset: 'y')
  %li= link_to 'Box 3', topic_review_box_path(@topic._id, n: 3, reset: 'y')

%h3 List of cards

%table.card_list
  %tbody
    = render @topic.cards
