%p#notice= notice

.title
  %h1= @topic.title
  %span= link_to 'Edit topic', edit_topic_path(@topic)
  %span= link_to 'New Card', topic_new_card_path(@topic)
  %span= link_to 'Back', topics_path
  %span= link_to 'Destroy', @topic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%h3 Review boxes

%ul
  %li Box 1
  %li Box 2
  %li Box 3

%h3 List of cards

%table
  %tbody
    = render @cards
