#card
  %div
    %p.question.bold= @card.question
    %p.answer= @card.answer

#card
  %p.bold Your answer:
  = form_tag(topic_card_answer_path, method: 'post') do
    = text_area_tag(:u_answer, (@u_answer != "") ? @u_answer : "No answer", disabled: true)
    = submit_tag("Correct")
    = submit_tag("Incorrect")