%h1 
  Box
  =@card.box

= form_tag(topic_card_answer_path, method: 'post') do
  %p
    %b Question
  %p= @card.question
  %p
    %b Your answer:
  %p= u_answer
  %p
    %b Right answer:
  %p= @card.answer
  = submit_tag("Correct")
  = submit_tag("Incorrect")

