%h2 Review boxes

#weeks_study
	- @review_boxes.each do |day, rbl|
		%ul
			#day= "#{@wdays[Date.parse(day).wday]} #{Date.parse(day).day.ordinalize}"
			- rbl.each do |rb|
				%li
					%span{class: "box b#{rb.box}", id: "box"}
					- if rb.topic.subject
						%span.tag{style: "background-color:##{rb.topic.subject.color}"}
							=rb.topic.subject.code
					= rb.topic.title