= form_for @subject do |f|
  - if @errors
    .col-sm-offset-3
      #error_explanation
        %h2= "#{pluralize(@errors.count, "error")} prohibited this subject from being saved:"
        %ul
          - @errors.each do |msg|
            %li= msg

  .form-horizontal
    .form-group
      .field
        = f.label :code, class: 'control-label col-sm-3'
        .col-sm-5
          = f.text_field :code, placeholder: "e.g. COM381, PS200", class: 'form-control'
    .form-group
      .field
        = f.label :name, class: 'control-label col-sm-3'
        .col-sm-5
          = f.text_field :name, class: 'form-control'
    .form-group
      .field
        = label_tag "subject_color", "Color", {class: 'control-label col-sm-3'}
        .col-sm-5
          %input{name: "subject_color", id: "subject_color", type: 'text', placeholder: "#ddd, #e8e8e8", value: @subject_config && @subject_config.color, class: 'colorpicker form-control'}
        .col-sm-3
          .description
            %p= "Topics that belong to a subject will have a label besides their title with the subject code and the selected color."
            %p= "Preview"
            %span.preview-label.label
    .form-group
      .col-sm-offset-3.col-sm-5
        .actions
          %a{href: "#{subjects_path}", class: 'btn btn-default'} Cancel
          - if @url == new_subject_path
            = f.submit 'Create', class: 'btn btn-default'
          - else
            = f.submit 'Save', class: 'btn btn-default'
    - if @subject and not @new
      .form-group
        .col-sm-offset-3.col-sm-5
          %p.bold= "Delete subject"
          = link_to 'Delete subject', subject_path(@subject), method: :delete, class: 'btn btn-danger'
          = link_to 'Delete all', subject_path(@subject, delete_all: true), method: :delete, class: 'btn btn-danger'
          .description
            %p= "Delete removes the subject and leaves its topics. Delete all destroys both the subject and its topics."
