- subject_config = subject.subject_configs.find_by(user_id: current_user.id)
.row
  %li
    .col-sm-7
      %span.label{style: "background-color:#{subject_config.color}"}
        = subject.code
      %span#link{class: subject_config.archived && "archived"}
        = link_to subject.name, subject_path(subject)
    .col-sm-5.options
      - subject_config = subject.subject_configs.find_by(user_id: current_user.id)
      - subject_config.archived ? text = 'Archived' : text = "Archive"
      = link_to text, subject_archive_path(subject), method: :patch, class: "btn btn-default #{text.downcase}", id: 'archive'
      = link_to '', subject_path(subject.id, delete_all: true), :class => "btn.btn-default delete-all", style: 'display:none'
      = link_to '', subject, :class => "btn.btn-default delete-link", style: 'display:none'
      %a.btn.btn-default.subject-destroy{href:'javascript:void(0)', :alt => "delete", :title => "delete"} Delete
      %a.btn.btn-default.subject-destroy-all{href:'javascript:void(0)', :alt => "delete all", :title => "delete all"} Delete all