%p#notice= notice

- if @subjects.count() > 0
  %table
    %thead
      %tr
        %th Code
        %th Name
        %th
        %th
        %th
        %th

    %tbody
      - @subjects.each do |subject|
        %tr{class: subject.archived && "archived"}
          %td{style: "color:##{subject.color}"}= subject.code
          %td= subject.name
          %th.action= link_to '', edit_subject_path(subject), :class => "btn edit"
          %th.action= link_to '', subject_archive_path(subject), :method => :patch, :id => 'archive', :class => "btn"
          %th.action= link_to '', subject, :method => :delete, :data => { :confirm => 'This will destroy the subject and its topics. Are you sure?' }, :class => "btn destroy"
- else
  .placeholder
    %p There are no subjects! Add subjects for a smarter topic filter.
