%p#notice= notice

.row
  - if @total > 0 
    #subjects-list
      %ul
        - @subjects.each do |subject|
          = render subject

  - else
    .placeholder
      %p= t('.placeholder')

.row
  - if @collaborating_subjects.count() > 0
    %h3= t('.collaborating')
    #subjects-list
      %ul
        - @collaborating_subjects.each do |subject|
          = render subject