%p#notice= notice

- if @subjects.count() > 0
  #subjects-list
    %ul
      - @subjects.each do |subject|
        %li{class: subject.archived && "archived"}
          .info
            %span#code{style: "color:##{subject.color}"}
              = subject.code
            %span#link
              = link_to subject.name, subject_path(subject)
          .options
            = link_to '', edit_subject_path(subject), :class => "btn edit"
            = link_to '', subject_archive_path(subject), :method => :patch, :id => 'archive', :class => "btn"
            = link_to '', subject, :method => :delete, :data => { :confirm => 'This will destroy the subject and its topics. Are you sure?' }, :class => "btn destroy"
- else
  .placeholder
    %p There are no subjects! Add subjects for a smarter topic filtering.
