%p#notice= notice

%h2 Listing subjects

- if @subjects.count() > 0
  #subjects-list
    %ul
      - @subjects.each do |subject|
        %li{class: subject.archived && "archived"}
          .info
            %span#code{style: "color:#{subject.color}"}
              = subject.code
            %span#link
              = link_to subject.name, subject_path(subject)
          .options
            = link_to '', edit_subject_path(subject), :class => "btn edit", :alt => "edit", :title => "edit"
            = link_to '', subject_archive_path(subject), :method => :patch, :id => 'archive', :class => "btn", :alt => "archive", :title => "archive"
            = link_to '', subject, :class => "btn destroy delete-link", :alt => "delete", :title => "delete", style: 'display:none'
            %a.btn.destroy.subject-destroy{href:'javascript:void(0)'}
- else
  .placeholder
    %p There are no subjects! Add subjects for a smarter topic filtering.
