.subject-options
	- @subject_config.archived ? text = 'Archived' : text = "Archive"
	= link_to text, subject_archive_path(@subject, back: subject_path(@subject)), method: :patch, class: "btn btn-default #{text.downcase} pull-right", id: 'archive'

%h2 Topics

#topics-list
	%ul
		- @topics.each do |topic|
			= render topic

#cards-list
	%h2 Cards
	- @subject.topics.each do |topic|
		-if topic.cards.count > 0
			.row.card-row
				%h3
					= topic.title
					%small= "# of cards #{topic.cards.count.to_i}" 
				.cards
					= render topic.cards