= form_for @share_request, url: @url do |f|
  - if @share_request.errors.any?
    .col-sm-offset-3
      #error_explanation
        %h2= "#{pluralize(@share_request.errors.count, "error")} prohibited this subject from being saved:"
        %ul
          - @share_request.errors.full_messages.each do |msg|
            %li= msg

  .form-horizontal
    .form-group
      .field
        = f.label :recipient, class: 'control-label col-sm-3' 
        .col-sm-6
          = f.select :recipient, options_for_select(@users), {}, {:class => 'form-control'}
    .form-group
      .col-sm-offset-3.col-sm-6
        .actions
          = f.submit 'Send copy', class: 'btn btn-default'
          - if @owner == current_user.id
            = f.submit 'Add collaborator', class: 'btn btn-default'
