%h2 Share Request

- if @share_requests.count() > 0
	#notifications
		%ul
			-@share_requests.each do |sr|
				%li
					%span.sender= sr.sender_uname
					%span= "wants to #{sr.kind} #{sr.object_type} "
					%span{class: sr.object_type == 'topic'? 'topic' : 'subject' }= sr.name 
					%span with you.
					= link_to "Accept", share_request_share_path(sr._id), class: 'option'
					= link_to "Decline", share_request_destroy_path(sr._id), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'option'
- else
	.placeholder
		%p There are no share request in your inbox today!