%h2 Share Request

- if @share_requests.count() > 0
	#notifications
		%ul
			-@share_requests.each do |sr|
				%li
					%span.sender= sr.sender
					%span= "wants to share #{sr.type} "
					%span{class: sr.type == 'topic'? 'topic' : 'subject' }= sr.name 
					%span with you.
					= link_to "Accept", share_request_share_path(sr._id)
					= link_to "Decline", share_request_destroy_path(sr._id), :method => :delete, :data => { :confirm => 'Are you sure?' }
- else
	.placeholder
		%p There are no share request in your inbox today!