= form_for @card, url: @url do |f|
  - if @errors
    #error_explanation
      %h2= "#{pluralize(@errors, "error")} prohibited this card from being saved:"
      %ul
        - @errors.each do |msg|
          %li= msg
          
  - if @url[/cards\/[0-9]/]
    .field
      = f.label :new_topic
      %select{name: :new_topic, id: :new_topic}
        %option{value: "#{@card.topic_id}"}= @card.topic.title
        - if @topics
          - @topics.each do |topic|
            %option{value: "#{topic._id}"}= topic.title
  .field.side
    = f.label :question
    = f.text_area :question, placeholder: "Front side (question)"
  .field.side
    = f.label :answer
    = f.text_area :answer, placeholder: "Back side (answer)"
  .actions
    %a{href: "#{topic_cards_path(@topic)}"} Cancel
    - if @url[/cards\/[0-9]/]
      = f.submit 'Save'
    - else
      = f.submit 'Done'
      = f.submit 'Continue'
