%p#notice= notice

.title
  %h1= @topic.title
  %span= link_to 'Edit topic', edit_topic_path(@topic)
  %span= link_to 'New Card', new_topic_card_path(@topic)
  %span= link_to 'Back', @topic
  %span= link_to 'Destroy', @topic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%h2 Listing cards

%table.card_list
  %tbody
    = render @topic.cards
