%p#notice= notice

.title
  %h1= @topic.title
  %span= link_to 'Edit topic', edit_topic_path(@topic)
  %span= link_to 'New Card', new_topic_card_path(@topic)
  %span= link_to 'Back', @topic
  %span= link_to 'Destroy', @topic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%h2 Listing cards

%a= link_to 'All', topic_cards_path(@topic)
%a= link_to 'Box 1', topic_cards_path(@topic, box: 1)
%a= link_to 'Box 2', topic_cards_path(@topic, box: 2)
%a= link_to 'Box 3', topic_cards_path(@topic, box: 3)

%table.card_list
  %tbody
    = render @cards
