%h1 Listing cards

%table
  %thead
    %tr
      %th Question
      %th Answer
      %th Box
      %th
      %th
      %th
      
  %tbody
    - @cards.each do |card|
      %tr
        %td= card.question
        %td= card.answer
        %td= card.box
        %td= link_to 'Show', topic_card_path(card.topic_id, card._id)
        %td= link_to 'Edit', edit_topic_card_path(card.topic_id, card._id)
        %td= link_to 'Destroy', topic_card_path(card.topic_id, card._id), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Card', new_topic_card_path(@cards[0].topic_id)
