%p#notice= notice

%p
  %b Question:
  = @card.question
%p
  %b Answer:
  = @card.answer
%p
  %b Box:
  = @card.box

= link_to 'Edit', edit_topic_card_path(@card.topic_id, @card)
\|
= link_to 'Back', @card.topic
