%p#notice= notice

%p
  %b Question:
  = @card.front
%p
  %b Answer:
  = @card.back
%p
  %b Level:
  = @card.level

= link_to 'Edit', edit_topic_card_path(@card.topic_id, @card)
\|
= link_to 'Back', @card.topic
