!!!5
%html
  %head
    / Latest compiled and minified CSS
    %link{:rel => "stylesheet", :href =>"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"}

    %link{:href => "http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Bitter:400,400italic,700", :rel => "stylesheet", :type => "text/css"}/
    %title Aplus
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    
    = csrf_meta_tags
  %body{:class => controller.controller_name}
    #main-menu
      %a#home{:href => study_calendar_path}= image_tag("A+.png")
      %nav#main-options
        %ul
          %li
            %a{:href => study_calendar_path, :alt => "Review calendar", :title => "Review calendar", :id => 'calendar'}
          %li
            %a{:href => subjects_path, :alt => "Subjects", :title => "Subjects", id: 'subjects'}
          %li
            %a{:href => topics_path, :alt => "Topics", :title => "Topics", id: 'topics'}
            
          %span.divider

          - if ["topics", "cards", "review_box"].include? controller.controller_name or @topic and not ["topics#index", "topics#new", 'review_box#study_calendar'].include? "#{controller.controller_name}##{controller.action_name}"
            %li
              %a{:href => topic_path(@topic), :id => 'cards', :alt => "card list", :title => "card list"}
                = image_tag("flashcard_icon.png")
            %li
              %a{:href => edit_topic_path(@topic), :alt => "edit", :title => "edit"}
                = image_tag("edit.png")
            %li
              %a{:href => share_request_new_path(object_type:'topic', oid:@topic._id, name: @topic.title), :alt => "share", :title => "share"}
                = image_tag("share.png")

          - if @subject and not ["subjects#new"].include? "#{controller.controller_name}##{controller.action_name}" 
            %li
              %a{:href => subject_path(@subject), :id => 'topics', :alt => "subject's topics", :title => "subject's topics"}
                = image_tag("topic.png")
            %li
              %a{:href => edit_subject_path(@subject), :alt => "edit", :title => "edit"}
                = image_tag("edit.png")
            %li
              %a{:href => share_request_new_path(object_type:'subject', oid:@subject._id, name: @subject.name), :alt => "share", :title => "share"}
                = image_tag("share.png")

      #profile.dropup
        %button#dropdownMenu1.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          = image_tag(current_user.image)
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
          %li= link_to 'Settings', "#"
          %li= link_to 'Getting started', "#"
          %li= link_to 'Logout', logout_path

      / #topics-menu
      /   #topics-list
      /     %h4 Topic(s)
      /     #new-topic= link_to 'Add topic', new_topic_path
      /     - menu_topics = flash[:subjects] ? flash[:subjects] : @menu_topics
      /     - menu_topics.each do |topic|
      /       .topic{id: "#{topic.id}"}
      /         - if topic.subject
      /           %span{style: "background-color:#{topic.subject.subject_configs.find_by(user_id: current_user().id).color}; color: #fff" }= topic.subject.code
      /         = link_to topic.title, topic
    #main-content
      #page
        #title-bar.page-header
          %h1= @view_title
        = flash_message
        #yield
          = yield
        #add-menu.dropdown
          %button#dropdownMenu2.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu2"}
            - if @subject
              %li= link_to 'Add topic', new_topic_path(subject: @subject.id)
            - else
              %li= link_to 'Add topic', new_topic_path
            %li= link_to 'Add subject', new_subject_path
            - if "#{controller.controller_name}##{controller.action_name}" == "topics#show"
              %li= link_to 'Add card', new_topic_card_path(@topic)
        - if "#{controller.controller_name}##{controller.action_name}" == "topics#show"
          - topic_config = @topic.topic_configs.find_by(user_id: current_user.id)
          - topic_config.reviewing ? rclass = "on" : rclass = "off"
          = link_to "", {:controller => "topics", :action => "set_reviewing", :topic_id => @topic.id}, {:method => :patch, :id => 'review', :class => rclass}

        - if @total_notifications > 0
          #notification-bell
            %a{:href => share_request_notify_path, :alt => "Notifications", :title => "Notifications"}
              %span.badge= @total_notifications