!!!
%html
  %head
    %title Aplus
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => controller.controller_name}
    #left
      %section#home.top
        %a{:href => today_study_url} A+
      #topics-menu
        #subject-filter
          = form_tag("/filter_subject", method: "get") do
            .styled-select
              %select{name: 'subject' }
                %option{value: 'all', selected: @selected_subject == "all" && 'selected'} All
                - @app_subjects.each do |subject|
                  %option{value: "#{subject.code}", selected: @selected_subject == "#{subject.code}" && 'selected'}= subject.code
                %option{value: 'none', selected: @selected_subject == "none" && 'selected'} None
            #search-submit
              %button{type: 'submit'}

        #topics-list
          %p Topics
          - menu_topics = flash[:subjects] ? flash[:subjects] : @menu_topics
          #new-topic.topic= link_to 'New Topic', new_topic_path
          - menu_topics.each do |topic|
            .topic
              - if topic.subject
                %span{style: "background-color:##{topic.subject.color}; color: #fff" }= topic.subject.code
              = link_to topic.title, topic
    #right
      %nav#main-options.right.top
        = link_to 'Today\'s study', today_study_path
        = link_to 'Subjects', subjects_path
        = link_to 'Topics', topics_path
      #title-bar
        %h1= @view_title
        - if controller.controller_name == "subjects"
          = link_to 'New Subject', new_subject_path
        - elsif ( ["topics", "cards", "review_box"].include? controller.controller_name and not ['today_study'].include? controller.action_name and not ["topics#index", "topics#new"].include? "#{controller.controller_name}##{controller.action_name}")
          = link_to '', @topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn destroy'
          = link_to '', edit_topic_path(@topic), :class => 'btn edit'
          = link_to '', topic_cards_path(@topic), :class => 'btn', :id => 'cards'
          = link_to '', new_topic_card_path(@topic), :class => 'btn', :id => 'new-card'
          = link_to '', @topic, :class => 'btn', :id => 'boxes'
      #content
        #yield
          = yield