!!!
%html
  %head
    %title Aplus
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => controller.controller_name}
    #left
      %section#home.top
        %a{:href => todays_study_path} A+
      #topics-menu
        #subject-filter
          = form_tag("/filter_subject", method: "get") do
            .styled-select
              %select{name: 'subject' }
                %option{value: 'all', selected: @selected_subject == "all" && 'selected'} All
                - @app_subjects.each do |subject|
                  %option{value: "#{subject.code}", selected: @selected_subject == "#{subject.code}" && 'selected'}= subject.code
                %option{value: 'none', selected: @selected_subject == "none" && 'selected'} None
            #search-submit
              %button{type: 'submit'}

        #topics-list
          %p Topics
          - menu_topics = flash[:subjects] ? flash[:subjects] : @menu_topics
          #new-topic.topic= link_to 'Add topic', new_topic_path
          - menu_topics.each do |topic|
            .topic
              - if topic.subject
                %span{style: "background-color:##{topic.subject.color}; color: #fff" }= topic.subject.code
              = link_to topic.title, topic
    #right
      %nav.top#main-options
        .left
          = link_to 'Today\'s study', todays_study_path
          = link_to 'Week\'s study', weeks_study_path
          = link_to 'Subjects', subjects_path
          = link_to 'Topics', topics_path
        #profile.right
          = @user.username
          = link_to 'Logout', logout_path
      #title-bar
        %h1= @view_title
        - if controller.controller_name == "subjects"
          = link_to 'Add subject', new_subject_path
        - if "#{controller.controller_name}##{controller.action_name}" == "topics#index"
          = link_to 'Add topic', new_topic_path
      #content
        #yield
          = yield
        - if ( ["topics", "cards", "review_box"].include? controller.controller_name and not ["topics#index", "topics#new", 'review_box#todays_study', 'review_box#weeks_study'].include? "#{controller.controller_name}##{controller.action_name}")
          #options-bar
            = form_tag("/topics/#{@topic._id}/set_reviewing", method: "patch") do
              = @topic.reviewing ? submit_tag('', id: 'reviewing') : submit_tag('', id: 'not-reviewing')
            = link_to '', @topic, :class => 'btn', :id => 'boxes'
            = link_to '', new_topic_card_path(@topic), :class => 'btn', :id => 'new-card'
            = link_to '', topic_cards_path(@topic), :class => 'btn', :id => 'cards'
            = form_tag("/topics/#{@topic._id}/reset_cards", method: "patch") do
              = submit_tag('', id: 'reset')
            = link_to '', edit_topic_path(@topic), :class => 'btn edit'
            = link_to '', @topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn destroy'
