!!!
%html
  %head
    %title Aplus
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => controller.controller_name}
    #left
      %section#home.top
        %a{:href => "/"} A+
      #topics-menu
        #subject-filter
          = form_tag("/filter_subject", method: "get") do
            .styled-select
              %select{name: 'subject' }
                %option{value: 'all'} All
                - @app_subjects.each do |subject|
                  %option{value: "#{subject.code}"}= subject.code
                %option{value: 'none'} None
            #search-submit
              %button{type: 'submit'}

        #topics-list
          %p Topics
          - menu_topics = flash[:subjects] ? flash[:subjects] : @menu_topics
          - menu_topics.each do |topic|
            .topic
              - if topic.subject
                %span{style: "background-color:##{topic.subject.color}; color: #fee" }= topic.subject.code
              = link_to topic.title, topic
    #right
      %nav#main-options.right.top
        = link_to 'Today study', today_study_path
        = link_to 'New Topic', new_topic_path
        = link_to 'Subjects', subjects_path
      #title-bar
        %h1= @view_title
        - if controller.controller_name == "subjects"
          = link_to 'New Subject', new_subject_path
        - elsif (controller.controller_name == "topics" and controller.action_name != 'new') || (controller.controller_name == "cards")
          = link_to '', @topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn destroy'
          = link_to '', edit_topic_path(@topic), :class => 'btn edit'
          = link_to '', topic_cards_path(@topic), :class => 'btn', :id => 'cards'
          = link_to '', new_topic_card_path(@topic), :class => 'btn', :id => 'new-card'
          = link_to '', @topic, :class => 'btn', :id => 'boxes'
      #content
        #yield
          = yield