!!!5
%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}/
    %title Aplus
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => controller.controller_name}
  .top
    #menu
      %a{:href => menu_path}
        = image_tag("menu.png")
    #home
      %a{:href => todays_study_path}
    %nav#main-options
      = link_to 'Today\'s study', todays_study_path
      = link_to 'Week\'s study', weeks_study_path
      = link_to 'Subjects', subjects_path
      = link_to 'Topics', topics_path
      = link_to 'Notifications', share_request_notify_path
      #profile.right
        %span= "#{@user.username}"
        = link_to 'Logout', logout_path
  .bottom
    #left
      #topics-menu
        #subject-filter
          = form_tag("/filter_subject", method: "get") do
            %input#subject-list{type: 'text', name: 'subject', list: "subject", placeholder: "filter by subject"}
            %datalist{id: 'subject'}
              %option{value: 'all'}
              - @app_subjects.each do |subject|
                %option{value: "#{subject.code}"}
              %option{value: 'none'}
            #search-submit
              = submit_tag("Go")
        #topics-list
          %h4 Topic(s)
          #new-topic= link_to 'Add topic', new_topic_path
          - menu_topics = flash[:subjects] ? flash[:subjects] : @menu_topics
          - menu_topics.each do |topic|
            .topic
              - if topic.subject
                %span{style: "background-color:##{topic.subject.color}; color: #fff" }= topic.subject.code
              = link_to topic.title, topic
    #right
      #title-bar
        %h1= @view_title
        - if controller.controller_name == "subjects"
          - if controller.action_name == "show"
            = link_to 'Add Topic', new_topic_path(back: subject_path(@subject._id))
          - else
            = link_to 'Add subject', new_subject_path
        - if "#{controller.controller_name}##{controller.action_name}" == "topics#index"
          = link_to 'Add Topic', new_topic_path
      #content
        #yield
          = yield
        - if ( ["topics", "cards", "review_box"].include? controller.controller_name and not ["topics#index", "topics#new", 'review_box#todays_study', 'review_box#weeks_study'].include? "#{controller.controller_name}##{controller.action_name}")
          #options-bar
            = form_tag("/topics/#{@topic._id}/set_reviewing", method: "patch", :alt => "review on/off", :title => "review on/off") do
              = @topic.reviewing ? submit_tag('', id: 'reviewing') : submit_tag('', id: 'not-reviewing')
            =link_to '', @topic,:class => 'btn', :id => 'boxes', :alt => " view boxes", :title => "view boxes"
            %a{:alt =>"new car", :title =>"new card"}
            = link_to '', new_topic_card_path(@topic), :class => 'btn', :id => 'new-card', :alt => "new card", :title => "new card"
            = link_to '', topic_cards_path(@topic), :class => 'btn', :id => 'cards', :alt => "card list", :title => "card list"
            = form_tag("/topics/#{@topic._id}/reset_cards", method: "patch") do
              = submit_tag('', id: 'reset', :alt => "reset cards", :title => "reset cards") 
            = link_to '', share_request_new_path(type:'topic', oid:@topic._id), :class => 'btn share', :alt => "share", :title => "share"
            = link_to '', edit_topic_path(@topic), :class => 'btn edit', :alt => "edit", :title => "edit"
            = link_to '', @topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn destroy', :alt => "delete", :title => "delete"
        - if "subjects#show" == "#{controller.controller_name}##{controller.action_name}"
          #options-bar
            = link_to '', share_request_new_path(type:'subject', oid:@subject._id), :class => 'btn share', :alt => "share", :title => "share"
            = link_to '', edit_topic_path(@subject), :class => 'btn edit', :alt => "edit", :title => "edit"
            = link_to '', @subject, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn destroy', :alt => "delete", :title => "delete"